* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Mallanna', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #2b2a2b;
}

header {
    padding: 1rem;
    border-bottom: 1px solid #a90db8;
    /* gradient */
    background:-webkit-linear-gradient(90deg, rgba(137, 0, 255, 0.76) 0%, rgba(209, 0, 255, 0.77) 80%);
    background:-o-linear-gradient(90deg, rgba(137, 0, 255, 0.76) 0%, rgba(209, 0, 255, 0.77) 80%);
    background:-moz-linear-gradient(90deg, rgba(137, 0, 255, 0.76) 0%, rgba(209, 0, 255, 0.77) 80%);
    background:linear-gradient(90deg, rgba(137, 0, 255, 0.76) 0%, rgba(209, 0, 255, 0.77) 80%);
}

h1, h2 {
    text-align: center;
    color: #131313;
}

h2, h3 {
    text-decoration: underline;
    color: #242323;
    padding-bottom: 1rem;
}

main {
    height: auto;
    margin: 2rem;
}

.two-column-box {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.two-column-box article {
    width: 30%;
    margin: 1rem;
}

.one-column-box article { 
   margin-bottom: 2rem;
}

footer {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-top: 2px solid #5e158f;
    /* gradient */
    background:-webkit-linear-gradient(90deg, rgb(137, 0, 255) 0%, rgb(209, 0, 255) 80%);
    background:-o-linear-gradient(90deg, rgb(137, 0, 255) 0%, rgb(209, 0, 255) 80%);
    background:-moz-linear-gradient(90deg, rgb(137, 0, 255) 0%, rgb(209, 0, 255) 80%);
    background:linear-gradient(90deg, rgb(137, 0, 255) 0%, rgb(209, 0, 255) 80%);
}

footer a {
    padding: 1rem 0;
    font-weight: bold;
    color: rgb(141, 236, 150);
    text-decoration: none;
}

footer a:hover {
    color: rgb(227, 248, 42);
}
